<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.4/examples/sign-in/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">

<h1>Courses page</h1>
<p>Spring boot Security</p>

<form class="form-logout" method="get" action="/logout">
    <button class="btn btn-primary" type="submit">Logout</button>
</form>
</div>
</body>
</html>